* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Raleway", serif;
}

nav {
    width: 75px;
    height: 100vh;
    font-size: 12px;
    font-weight: 300;
    background-color: rgb(39, 33, 33);
    color: white;
    box-shadow: 0 4px 8px 5px rgb(128 120 139);
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
}

nav:hover {
    transition: width 0.4s ease-in-out;
    overflow-y: scroll;
    width: 180px;
}

nav::-webkit-scrollbar {
    width: 5px;
}

.logo {
    width: 100%;
    height: 50px;
    margin-inline: auto;
    padding: 5px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 80%;
    height: 100%;
}

/* .logo i{
    width:18%;
    height:100%;
} */

.nav-lists {
    margin-top: 150px;
    margin-inline: auto;
}

.nav-lists ul li {
    height: 14px;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    /* flex-wrap:nowrap; */
    list-style: none;
}

.icon {
    display: inline-block;
    width: 49%;
    padding-left: 30px;
}

.description {
    width: 85%;
    /* height:15px; */
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
    align-content: normal;
}

.arrow-sign {
    display: inline-block;
    padding-right: 8px;
    width: 49%;
    text-align: right;
    cursor: pointer;
}

.dashboard i {
    color: rgb(35, 183, 229);
}

.offers i {
    color: rgb(82, 143, 240);
}

.reports i {
    color: rgb(251, 225, 101);
}

.affiliates i {
    color: rgb(39, 194, 76);
}

.advertisers i {
    color: rgb(241, 154, 94);
}

.fraud-detection i {
    color: rgb(255, 65, 65);
}

.integration i {
    color: rgb(167, 222, 62);
}

.account i {
    color: rgb(82, 143, 240);
}

.billing i {
    color: rgb(35, 183, 229);
}


.lists-container {
    height: 20px;
    margin-bottom: 30px;
}

/*------styling the hidden list from here-------*/
.hidden-list {
    width: 100%;
    color: rgb(184, 178, 178);

    margin-top: 20px;
}

.hidden-list ul li {
    margin-bottom: 15px;
    padding-left: 52px;
    text-align: left;
}

.hidden-list ul li:hover {
    list-style-type: disc;
}









/*-----------i am designing the top nav from here-----------------------*/
main {
    /* border:5px solid black; */
    margin-left: 75px;
    padding: 12px;
    background-color: rgb(238, 242, 245);
}

.top-nav {
    /* background-color: red; */
    width: 100%;
    height: 40px;
    font-size: 12px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-nav-icons {
    margin-inline: 7px;
}

.shortcuts {
    width: 39%;
    padding-left: 10px;
}

.top-nav-list {
    width: 60%;
}

.top-nav-list ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style-type: none;
}

.top-nav-list ul li {
    margin-left: 15px;
}


/*-------------Onboarding steps--------*/
.onboarding-steps {
    display: flex;
    gap: 20px;
    margin-top: 12px;
    margin-left: 20px;
}



.onboarding-steps-heading {
    width: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:14px;
    font-weight:200;
}

.onboarding-steps-heading h5 {
    font-size:14px;
    font-weight:550;
}

.onboarding-steps-heading span {
    width: 15px;
    height: 18px;
    padding: 0.5px;
    overflow: hidden;
    margin-top: 3px;
    background-color: gray;
    text-align: center;

}

.onboarding-div {
    background-color: red;
    width: 15.5vw;
    min-height: 60px;
    padding: 5px 30px;
    background-color: rgb(204, 229, 255);
    border-radius: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* align-content: center; */
    gap: 20px;
    box-shadow: 1px 1px 6px -3px;
}

.onboarding-div:nth-child(2) {
    background-color: rgb(255, 243, 205);
}

.onboarding-div>.clock-icon {
    font-size: 20px;
    color: rgb(151, 151, 42);
}

.onboarding-div >.check-icon {
    font-size: 20px;
    color: rgb(25, 127, 117);
}

.onboarding-div  .onboarding-step-number{
    color:blue;
    font-size: 12px;
    font-weight:700;
    margin-bottom:3px;
}

.onboarding-div .step-feature{
    font-size:14px;
    font-weight:550;
}













.display-none {
    display: none;
}

.display-block {
    display: block;
}

.display-inline-block {
    display: inline-block;
}

.display-flex {
    display: flex;
}

.display-hidden {
    display: hidden;
}

.rotate-ninety {
    transform: rotate(90deg);
    transition: transform 0.3s ease-in-out;
}

.height-max-content {
    overflow: hidden;
    height: 150px;
    transition: height 0.4s ease-in-out;
    border-left: 4px solid rgb(15, 174, 222);
}