* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Raleway", serif;
}

nav {
    width: 75px;
    height: 100vh;
    font-size: 12px;
    font-weight: 300;
    background-color: rgb(39, 33, 33);
    color: white;
    box-shadow: 0 4px 8px 5px rgb(128 120 139);
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
}

nav:hover {
    transition: width 0.4s ease-in-out;
    overflow-y: scroll;
    width: 180px;
}

nav::-webkit-scrollbar {
    width: 5px;
}

.logo {
    width: 100%;
    height: 50px;
    margin-inline: auto;
    padding: 5px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 80%;
    height: 100%;
}

/* .logo i{
    width:18%;
    height:100%;
} */

.nav-lists {
    margin-top: 150px;
    margin-inline: auto;
}

.nav-lists ul li {
    height: 14px;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    /* flex-wrap:nowrap; */
    list-style: none;
}

.icon {
    display: inline-block;
    width: 49%;
    padding-left: 30px;
}

.description {
    width: 85%;
    /* height:15px; */
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
    align-content: normal;
}

.arrow-sign {
    display: inline-block;
    padding-right: 8px;
    width: 49%;
    text-align: right;
    cursor: pointer;
}

.dashboard i {
    color: rgb(35, 183, 229);
}

.offers i {
    color: rgb(82, 143, 240);
}

.reports i {
    color: rgb(251, 225, 101);
}

.affiliates i {
    color: rgb(39, 194, 76);
}

.advertisers i {
    color: rgb(241, 154, 94);
}

.fraud-detection i {
    color: rgb(255, 65, 65);
}

.integration i {
    color: rgb(167, 222, 62);
}

.account i {
    color: rgb(82, 143, 240);
}

.billing i {
    color: rgb(35, 183, 229);
}


.lists-container {
    height: 20px;
    margin-bottom: 30px;
}

/*------styling the hidden list from here-------*/
.hidden-list {
    width: 100%;
    color: rgb(184, 178, 178);

    margin-top: 20px;
}

.hidden-list ul li {
    margin-bottom: 15px;
    padding-left: 52px;
    text-align: left;
}

.hidden-list ul li:hover {
    list-style-type: disc;
}









/*-----------i am designing the top nav from here-----------------------*/
main {
    /* border:5px solid black; */
    margin-left: 75px;
    padding: 12px;
    background-color: rgb(238, 242, 245);
    font-family: "Roboto", serif;
}

.top-nav {
    /* background-color: red; */
    width: 100%;
    height: 40px;
    font-size: 12px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-nav-icons {
    margin-inline: 7px;
}

.shortcuts {
    width: 39%;
    padding-left: 10px;
}

.top-nav-list {
    width: 60%;
}

.top-nav-list ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style-type: none;
}

.top-nav-list ul li {
    margin-left: 15px;
}


/*-------------Onboarding steps--------*/
.onboarding-steps {
    display: flex;
    gap: 20px;
    margin-top: 12px;
    margin-left: 20px;
}



.onboarding-steps-heading {
    width: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 200;
}

.onboarding-steps-heading h5 {
    font-size: 13px;
    font-weight: 600;
    text-align: center;
}

.onboarding-steps-heading span {
    width: 15px;
    height: 18px;
    padding: 0.5px;
    overflow: hidden;
    margin-top: 3px;
    margin-left: 4px;
    background-color: gray;
    text-align: center;

}

.onboarding-div {
    /* background-color: red; */
    width: 15.5vw;
    min-height: 60px;
    padding: 5px 30px;
    background-color: rgb(204, 229, 255);
    border-radius: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    box-shadow: 1px 1px 6px -3px black;
}

.onboarding-div:nth-child(2) {
    background-color: rgb(255, 243, 205);
}

.onboarding-div>.clock-icon {
    font-size: 25px;
    color: rgb(151, 151, 42);
}

.onboarding-div>.check-icon {
    font-size: 25px;
    color: rgb(25, 127, 117);
}

.onboarding-div .onboarding-step-number {
    color: blue;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 3px;
}

.onboarding-div .step-feature {
    font-size: 14px;
    font-weight: 400;
}



/*-------I am designing the dashboard features from here----------*/
.dashboard-features {
    /* background-color:blue; */
    width: 80%;
}

.dashboard-features .conversion-status-container {
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.conversions {
    background-color: white;
    width: 21%;
    min-height: 330px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 1px 1px 10px -3px rgb(182, 204, 227);
}

.logo-count {
    /* background-color:yellow; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-count .conversion-logo {
    width: 37px;
    height: 37px;
    background-color: rgb(204, 229, 255);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-count .conversion-count {
    font-size: 30px;
    color: rgb(9, 32, 238);
    font-weight: 600;
}

.yesterday-conversion-percentage-increase {
    width: 100%;
    margin-top: 8px;
    font-size: 13.5px;
    font-weight: 375;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 7px;
}

.heading-conversion-rate {
    width: 100%;
    margin-top: 5px;
    margin-top: 5px;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.conversion-rate {
    color: rgb(9, 32, 238);
}

.conversion-offers {
    width: 100%;
    margin-top: 15px;
    font-size: 12px;
    color: rgb(137, 131, 131);
}

.offers-conversion {
    background-color: rgb(238, 242, 245);
    width: 100%;
    height: 35px;
    margin-top: 12px;
    font-size: 13px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
}

.offers-lists {
    width: 49%;
}

.conversions-list {
    width: 49%;
}






/*-----------I am designing the status bar of the dashbord----------*/

.all-status {
    width: 73%;
    /* min-height: 310px; */
    padding: 20px;
    background-color: white;
    border-radius: 25px;
    display: grid;
    margin-left: 30px;
    /* border:2px solid black; */
    box-shadow: 1px 1px 10px -3px rgb(182, 204, 227);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
}

.status {
    /* background-color: blue; */
    /* border:2px solid blue; */
    padding: 20px 20px 0 20px;
    border-radius: 10px;
    min-height: 130px;
}

.status-logo-count {
    display: flex;
    justify-content: space-between;
}

.status-logo-count>.status-logo {
    width: 37px;
    height: 37px;
    border-radius: 10px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.status-logo-count>.status-count>span {
    font-size: 21px;
    font-weight: 600;
}

.status-logo-count>.status-heading-details {
    width: 100%;

}

.status>.status-heading-details>.status-heading {
    width: 49%;
    font-size: 13px;
    font-weight: 700;
    text-align: left;
}

.status>.status-heading-details>.status-details {
    width: 49%;
    font-size: 13px;
    font-weight: 700;
    text-align: right;
    color: rgb(9, 32, 238);
}

.status .status-graph-up-yesterday {
    width: 100%;
    margin-top: 10px;
    display: flex;
    font-size: 13.5px;
    font-weight: 375;
}

.status .status-graph-up-yesterday img {
    margin-right: 5px;
}

.status-heading-details {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}



.impressions {
    background-color: #FFE2E5;
}

.impressions>.status-logo-count>.status-logo {
    background-color: #FA5A7D;
}


.clicks {
    background-color: rgb(255, 244, 222);
}

.clicks>.status-logo-count>.status-logo {
    background-color: #FF947A;
}

.active-offer-pending {
    background-color: white;
    padding: 0;
    /* font-size: */
}

.active-offer-pending .today-all-input {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.active-offer-pending .select {
    width: 49%;
    height: 33px;
    border: 1px solid rgb(191, 182, 182);
    outline: none;
    padding: 5px;
    border-radius: 8px;
}

.active-offer-pending .active-offer-pending-count {
    padding: 5px;
    margin-top: 8px;
    font-size: 13.5px;
    font-weight: 375;
}

.active-offer-pending .active-offer-pending-count div {
    margin-top: 10px;
}

.active-offer-pending-count span {
    font-weight: bold;
}

.revenue {
    background-color: #e1efff;
}

.revenue>.status-logo-count>.status-logo {
    background-color: #73b5ff;
}

.payout {
    background-color: #e5d7f0;
}

.payout>.status-logo-count>.status-logo {
    background-color: #a962e1;
}

.profit {
    background-color: #CEE9D3;
}

.profit>.status-logo-count>.status-logo {
    background-color: #5DAA85;
}





/* ------------i am designing the worldmap from here------------*/
.top-countries-performance {
    width: 100%;
    margin-top: 30px;
    height: 350px;
    display:flex;
    gap:30px;
    /* background-color: blue; */
    object-fit: cover;
}

.top-countries {
    width: 40%;
    height: 100%;
    object-fit: cover;
    background-color: white;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 1px 1px 10px -3px rgb(182, 204, 227);
}

.top-countries p {
    font-size: 15px;
    font-weight: 700;
}


.top-countries-performance svg path {
    stroke-width: 2px;
    stroke: rgb(96, 87, 87);
    fill:rgb(218, 206, 206);
}

.top-countries-performance svg path:hover {
    stroke-width: 10px;
    transform: scale(1.01);
    fill: gray;
    cursor: pointer;
}

.performance{
    width: 58%;
    height:100%;
    background-color: white;
    border-radius:15px; 
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 1px 1px 10px -3px rgb(182, 204, 227);
}

.performance p {
    font-size: 15px;
    font-weight: 700;
}






























.display-none {
    display: none;
}

.display-block {
    display: block;
}

.display-inline-block {
    display: inline-block;
}

.display-flex {
    display: flex;
}

.display-hidden {
    display: hidden;
}

.rotate-ninety {
    transform: rotate(90deg);
    transition: transform 0.3s ease-in-out;
}

.height-max-content {
    overflow: hidden;
    height: 150px;
    transition: height 0.4s ease-in-out;
    border-left: 4px solid rgb(15, 174, 222);
}